<div class="pendientes">
   
    <div class="realizar-viaje">
        <div class="relaizar-viaje-filtro" [ngStyle]="{'display':filtro}"></div>
        <h2>Encargos en proceso</h2>
        <p>Aquí se visualizarán los viajes ya pagados y listos para enviar.</p>
        <div class="filtro-cont">
          <mat-form-field class="filtro" appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Por país, ciudad, fecha, producto, etc" #input>
          </mat-form-field>
        </div>
          
          <div class="mat-elevation-z8 table-cont">
            <table mat-table matSort [dataSource]="dataSource"  class="table" >
          
              <!-- ID Column -->
              <ng-container matColumnDef="originCountry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pais de origen </th>
                <td mat-cell *matCellDef="let row"> {{row.order.originCountry}} </td>
              </ng-container>
              
          
              <!-- Progress Column -->
              <ng-container matColumnDef="destinationCountry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pais de destino </th>
                <td mat-cell *matCellDef="let row"> {{row.order.destinationCountry}} </td>
              </ng-container>
           
          
              <!-- Name Column -->
              <ng-container matColumnDef="limitDate" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Fecha Limite </th>
                <td mat-cell *matCellDef="let row"> {{row.order.limitDate | date}} </td>
              </ng-container>
          
              <!-- Fruit Column -->
              <ng-container matColumnDef="nameProduct">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.order.nameProduct}} </td>
              </ng-container>
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'color':row.state==='Shipping' ?'red' : '#73ff59'}" style="font-weight: bold;"> {{row.state}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef > Visualizar </th>
                <td mat-cell *matCellDef="let row"><mat-icon style="cursor: pointer;" (click)="Informacion(row.order.id)">remove_red_eye</mat-icon></td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Datos no encontrados con "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator class="paginator" [pageSizeOptions]="[size]" aria-label="Select page of users"></mat-paginator>
          
          </div>
            <mat-card *ngIf="informacion" class="example-card info-viaje">
              <mat-card-header class="header-card">
                <div class="cont-btn-card">
                  <button [ngStyle]="{'display':oderSelect.shipment.state.toString()==='Shipping' ?'block' : 'none'}" style="width: 180px;" (click)="editShipment(oderSelect.shipment.id);addNotificationPay(oderSelect.user.id)">Marcar como Entregado</button>
                  <button  style="width: 130px;" (click)="Cerrar()">Cerrar Entrega</button>
                </div>
                <div mat-card-avatar class="example-header-image perfil-img">
                  <img src={{oderSelect.user.urlImage}}>
                </div>
                <mat-card-title class="title">{{oderSelect.user.name}}<p (click)="showInfoUser(oderSelect.user.id)">Ver información</p></mat-card-title>
                <mat-card-subtitle class="sub-title"><mat-icon class="icon-lugar" style="color: rgba(97, 192, 247, 0.966); margin-right: 0.1rem;">room</mat-icon><p>{{oderSelect.destinationCountry}}</p><p>-{{oderSelect.destinationCity}}</p><p>-{{oderSelect.destinationAddress}}</p></mat-card-subtitle>
              </mat-card-header>
            
              <mat-card-content class="cont" [ngStyle]="{display:displayInfoPro }">
                <h4>Descripción del Producto:</h4>
                <div class="cont-prin-prod">
                <div class="des-product">
                  <h5>País de Origen: </h5><p>{{oderSelect.originCountry}}</p>
                </div>
                <div class="des-product">
                  <h5>Ciudad de Origen: </h5><p>{{oderSelect.originCity}}</p>
                </div>
              </div>
              <div class="cont-prin-prod">
                <div class="des-product">
                  <h5>Nombre del Producto: </h5><p>{{oderSelect.nameProduct}}</p>
                </div>
                <div class="des-product">
                  <h5>Categoría del Producto: </h5><p>{{oderSelect.categoryProduct}}</p>
                </div>
              </div>
                <div class="cont-prin-prod">
                <div class="des-product">
                  <h5>Dimensiones del Producto: </h5><p>{{oderSelect.dimensionsProduct}}</p>
                </div>
                <div class="des-product">
                  <h5>Precio del Producto: </h5><p>{{oderSelect.priceProduct}}</p>
                </div>
                
                <div class="url-product" >
                  <h5>Url del Producto: </h5><p>{{oderSelect.urlProduct}}</p>
                </div>
               
                
              </div>
              </mat-card-content>
             
            </mat-card>
          
    </div>
</div>