.comentarios-cont{
 
    overflow-y: scroll;
    height: calc(100vh - 380px);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   


}
.card{
    width: 300px;
    height: 250px;
    margin: 1.5rem;
    font-family: 'Sofia-Pro';
    background-color:rgba(97, 192, 247, 0.534);
}
.cont-empty{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-header-image img{
    width: 48px;
    border-radius: 2rem;
}
.card p{
    margin: 1rem;
}

@media (min-width:1900px){
    .card{
        width: 380px;
        height: 250px;
        margin: 1rem 2rem;
    
    }
    .comentarios-cont{
        height: calc(100vh - 580px);
    }
}