
<mat-tab-group mat-align-tabs="center" class="content-div" style="background-color: #04BFBF;" >
    <mat-tab class="pointer"> <ng-template class="tab" mat-tab-label>
        <mat-icon class="example-tab-icon icon-tab" style="scale:2; margin-top:1rem">home</mat-icon>
      
      </ng-template>
    
      <app-presentation></app-presentation>
     
      
     
    </mat-tab>
    <mat-tab class="pointer"> <ng-template class="tab" mat-tab-label>
      <mat-icon class="example-tab-icon icon-tab" style="scale:2; margin-top:1rem">shopping_cart</mat-icon>
    
    </ng-template>
  
   
   <app-realizar-pedido></app-realizar-pedido>
   
  </mat-tab>
    <mat-tab class="pointer"> <ng-template class="tab" mat-tab-label>
        <mat-icon class="example-tab-icon icon-tab" style="scale:2; margin-top:1rem">flight_takeoff</mat-icon>
      
      </ng-template>
    
      <app-realizar-viaje></app-realizar-viaje>
    </mat-tab>
  </mat-tab-group>
    