@font-face {
    font-family: "Sofia-Pro";
    src: url("../../../../assets/Fonts/sofiapro-light.otf");
}
.perfil{
    width: 100vw;
    height: calc(100vh - 100px);
    
    position: relative;
    overflow: hidden;
}
.img-sup{
    width: 100vw;
    height: 200px ;
    background-image: url('../../../../assets/Images/gaddafi-rusli-2ueUnL4CkV8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.perfil-cont{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 130px;
    left: 85px;
    border-radius: 5rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.part-sup-img-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 130px;
    height: 130px;
    top: 130px;
    left: 85px;
    border-radius: 5rem;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.icon-camera{
   color: rgba(98, 221, 230, 0.849);
    scale: 1.5;
}
.perfil-cont img{
    width: 100%;
    border-radius: 5rem;
}
.cont-left{
    width: 300px;
    height: calc(100vh - 300px);
    background-color: rgba(154, 231, 236, 0.37);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.info-cont h3{
    font-weight: bold;
    font-family: 'Sofia-Pro';

}
.pais{
    display: flex;
    width: 100%;
    justify-content: center;
}
.pais h4{
    font-family: 'Sofia-Pro';
    font-weight: bold;
    margin:0;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
}
.cont-info-sec{
    width: 100%;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
 
}
.cont-info-sec h4{
    margin: 0;
    font-family: 'Sofia-Pro';
    font-weight: bold;

}
.cont-info-sec p{
    color: rgba(12, 61, 90, 0.966);
    font-weight: 500;
}
.icon-ter{
    color:rgba(97, 192, 247, 0.966);
    margin-right: 0.5rem;
}
.cont-info-ter{
    width: 100%;
    display: flex;

}
.cont-perfil{
    display: flex;
    

}
.slider{
    position: relative;
    width: 100%;
    display: flex;
    height: 80px;
    margin-left: 1rem;
}
.cont-slider{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cont-slider h4{
    color: black;
    font-family: 'Sofia-Pro';
}
.linea{
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: rgba(97, 192, 247, 0.966);
    bottom: 15px;
    transition: 0.35s ease-in left;
}
.cont-rigth{
    width: calc(100vw - 300px);
}
.part-sup-img-perfil:hover{
    opacity: 1;
}
.div-import-img,.div-msg-acp,.div-msg-err{
    position: absolute;
    width: 350px;
    height: 200px;
    border-radius: 1rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    z-index: 9;
}
.div-import-img{
    height: 245px;
}
.div-import-img h3,.div-msg-acp h3,.div-msg-err h3{
    font-family: 'Sofia-Pro';
    margin: 0.8rem;
}
.div-import-img p,.div-msg-acp p,.div-msg-err p{
    margin: 0.5rem;
}
.div-msg-acp p{
    margin: 2.3rem 1.5rem;
}
.div-msg-err p{
    text-align: center;
    margin: 1.7rem 1rem;
}
.form-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.filtro-profile{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
}
.btn-validate,.btn-validate-msg{
    font-size: 1rem;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Sofia-Pro';
    border-top: 2px solid #d4d4d4;
    color: skyblue;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-radius: 0rem 0rem 1rem 1rem;
}
.btn-validate-msg{
    height: 54px;
}
.btn-validate:hover,.btn-validate-msg:hover{
     background: rgba(182, 181, 181, 0.35)
}
@media (min-width:1900px){
    .perfil{
        height: calc(100vh - 150px);
    }
    .img-sup{
        height: 350px;
    }
    .cont-left{
        height: calc(100vh - 500px);
    }
    .cont-left{
        width: 450px;
    }
    .perfil-cont{
        width: 160px;
        height: 160px;
        top: 270px;
        left: 145px;
    }
    .info-cont{
        margin-top: 90px;
    }
    .info-cont h3{
        font-size: 1.5rem;
    }
    .icon-lugar{
        scale: 1.3;
    }
    .pais h4{
        font-size: 1.3rem;
    }
    .pais{
        margin-bottom: 2rem;
    }
    .cont-info-sec h4{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .cont-info-sec p{
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    .cont-info-sec{
        margin-top: 1rem;
    }
    .cont-rigth{
        width: calc(100vw - 450px);
    }
    .part-sup-img-perfil{
        width: 160px;
        height: 160px;
        top: 270px;
        left: 145px;
    }
}