@font-face {
    font-family: "Sofia-Pro";
    src: url("../../../../assets/Fonts/sofiapro-light.otf");
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
.pendientes{
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
.realizar-pedido{
    width: 100vw;
    background-color: skyblue !important;
    height: 80%;
    display: flex;
    align-items: center;
   
    flex-direction: column;
}
.cont-total{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}
.realizar-pedido h2{
    font-family: 'Sofia-Pro';
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin: 1rem;
}
.cont-stepper{
    width: 60vw;
    border-radius: 2rem;
    height: 55vh;
    position: relative;
    display: flex;
    align-items: center;
  
}
.formulario,.formulario2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36.5vh;
    position: relative;
}

.ancho{
    width: 50%;
    font-family: 'Sofia-Pro';
    margin-left: 2rem;
    color: black;
    
}
.btn-cont{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;
    width: 120px;
    font-family: 'Sofia-Pro';
    font-weight: bold;
    height: 40px;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #b0f5f5;
    border: black 2px solid;

}
.div-import-profile{
    position: absolute;
    width: 350px;
    height: 245px;
    border-radius: 1rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    z-index: 9;
}
.div-import-profile h3{
    font-family: 'Sofia-Pro';
    margin: 1.3rem 0.8rem;
    color: black;
}

.mat-horizontal-stepper-header-container{
    margin: 1rem !important;
    margin-bottom: 0 !important;
}
.btn-validate-profile{
    font-size: 1rem;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Sofia-Pro';
    border-top: 2px solid #d4d4d4;
    color: skyblue;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-radius: 0rem 0rem 1rem 1rem;
}
.btn-validate:hover,.btn-validate-msg:hover{
    background: rgba(182, 181, 181, 0.35)
}
.filtro-realizar-pedido{
    position:absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.ancho-media{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left:2rem;
}
.ancho-product,.ancho-precio{
    width: 45%;
    font-family: 'Sofia-Pro';
    color: black;

}
.ancho-precio{
    margin-right: 10%;
    color: black;
}
.aviso{
    position:absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: skyblue;
    border: 2px solid rgb(116, 124, 232);
    border-radius: 2rem;
}
.btn-cont-aviso button{
    margin: 0.5rem;
    border-radius: 2rem;
    width: 100px;
    height: 35px;
    font-family: 'Sofia-Pro';
    background-color: white;
    cursor: pointer;
}
.aviso h3{
    font-weight: bold;
    font-family: 'Sofia-Pro';
}
.mat-step-text-label{
    font-family: 'Sofia-Pro';
}
.mat-step-icon{
    background-color: #b0f5f5 !important;
}
@media (min-width:1900px){
    .realizar-pedido h2{
      
        font-size: 3rem !important;
   
        margin: 2rem !important;
        margin-top: 4rem !important;
    }
    .mat-horizontal-stepper-header-container{
        margin: 2rem !important;
    }
    .ancho{
        font-size: 1.2rem;
    }
    .ancho-precio,.ancho-product{
        font-size: 1.2rem;  
    }
    .mat-step-text-label{
        font-size: 1.3rem !important;
    }
    .btn-cont{
      
        margin: 2rem !important;
        width: 150px !important;
      
        height: 50px !important;
        border-radius: 2rem !important;
        font-size: 1.2rem !important;
    
    }
   
}