<div class="perfil">
    <div class="img-sup">

    </div>
 
    <div class="perfil-cont"><img src={{urlImg}}></div>
  
    <div class="cont-perfil">
        <div class="cont-left">
            <div class="info-cont">
            <h3 [innerText]="nombrecompleto"></h3>
            <div class="pais">
                <mat-icon class="icon-lugar" style="color: rgba(97, 192, 247, 0.966); margin-right: 0.1rem;">room</mat-icon><h4 [innerText]="pais"></h4>
            </div>
            <div class="cont-info-sec">
                
                <h4>Correo: </h4> 
                <div class="cont-info-ter">
                    <mat-icon class="icon-ter"> email</mat-icon> <p [innerText]="correo"></p>
                </div>
            </div>
            <div class="cont-info-sec">
                <div class="cont-info-ter"></div>
                <h4>Telefono: </h4> 
                <div class="cont-info-ter">
                    <mat-icon class="icon-ter"> call</mat-icon>  <p [innerText]="telefono"></p>
                </div>
                
            </div>
            <div class="cont-info-sec">
                
                <h4>Fecha de Nacimiento: </h4> 
                <div class="cont-info-ter">
                    <mat-icon class="icon-ter">today</mat-icon><p >{{fecha_nac| date}}</p>
                </div>
               
            </div>
            </div>
        
        </div>
        <div class="cont-rigth">
            <div class="slider">
                <div (click)="inicio();"  [ngStyle]="{'opacity':opacidad1}" class="cont-slider">
                    <h4>Comentarios</h4>
                </div>
                <div (click)="medio()" [ngStyle]="{'opacity':opacidad2}" class="cont-slider">
                    <h4>Reclamos</h4>
                </div>
                <div (click)="ultimo()"   [ngStyle]="{'opacity':opacidad3}" class="cont-slider">
                    <h4>Comentar</h4>
                </div>
                <div [ngStyle]="{'left': izq}" class="linea"></div>
            </div>
            <div style="width:100%;height:100%">
              <router-outlet></router-outlet>
            </div>
        </div>
      
      
    </div>
</div>

<div class="filtro-profile" [ngStyle]="{'display':filtroFlex}"></div>